.title{
    position: relative;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    
}
.contents {
    position: relative;
    top: 80px;
}

.con-head {
    position: absolute;
    width: 80%;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
}
.content{
    position: relative;
    top: 110px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
}
.staff-content{
    width: 85%;
    min-height: 200px;
    top: 50px;
    display: flex;
    justify-content: space-between;
}
.content-logo{
    width: 30%;
}
.logo-name{
    text-align: center;
}
.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img img{
    width: 60%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    
}
.content-word{
    width: 65%;
}

.rule-content {
    width: 50%;
}

.rule-content img {
    width: 100%;
}

.rule-head {
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rule-head a {
    width: 20%
}

.rule-head img{
    border: 4px solid gray;
    border-radius: 15px;
}

.two-content {
    display: flex;
}

.div-con {
    width: 50%;
}

.footer {
    top: 250px;
}

@media screen and (max-width: 999px) {
    .rule-content {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .staff-content{
        display: block;
    }
    .example-content{
        top: 170px;
    }
    .content-logo{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-around;
    }
    .logo-name{
        width: 25%;
        line-height: 150px;
    }
    .logo-img{
        width: 55%;
    }
    .content-word{
        width: 100%;
    }
    
}
@media screen and (max-width: 451px) {
    .content-logo{
        justify-content: space-between;
    }
    .logo-name{
        width: 41%;
    }
    
}
