.title{
    position: relative;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    
}
.content{
    position: relative;
    top: 110px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
}
.staff-content{
    display: flex;
}
.content-logo{
    width: 25%;
}
.content-word{
    width: 75%;
}
@media screen and (max-width: 500px) {
    .contents{
        width: 90%;
    }
}